#backButton {
    background-color: #4CAF50; /* لون الخلفية */
    border: none; /* إزالة الإطار */
    color: white; /* لون النص */
    padding: 12px 32px; /* الحشوة الداخلية */
    text-align: center; /* محاذاة النص إلى الوسط */
    text-decoration: none; /* إزالة التسطير */
    display: inline-block; /* عرض الزر كعنصر مضمّن */
    font-size: 13px; /* حجم الخط */
    margin: 4px 2px; /* الهامش */
    cursor: pointer; /* تغيير مؤشر الفأرة عند التحويم */
    border-radius: 12px; /* جعل الزوايا مستديرة */
	float: right; /* تحريك الزر إلى اليمين */
}

#backButton:hover {
    background-color: #45a049; /* تغيير اللون عند التحويم */
}
